{% include "indexOrigin.html" %}
<body>
    <button class="botao-voltar"id="botaoRetornar">Voltar</button>
    <script>
        document.getElementById("botaoRetornar").addEventListener("click", function() {
            window.location.href = "../secondPage.html"; 
        });
    </script>

<div class="compras-zoom">
    <div class="compra-zoom">
        <div class="iphone-zoom">
            <div class="product-image-zoom">
                <img src="{{url_for('static', filename='./img/PS5.jpg')}}" alt="">
            </div>
            <div class="purple-border"></div>
        </div>
        <div class="descricao-compra">
            <h3 id="nome">Console PS5</h3>
            <p id="descricao">Console PlayStation®5</p>
            <p>Resolução de 3840px x 2160px.</p> 
            <p>Memória RAM de 16GB.</p>
            <p>A duração da bateria dos controles depende de como o produto é usado.</p>
            <p>Versão totalmente digital do console PS5 sem unidade de disco.</p>
            <br> <!-- Adicionando a quebra de linha aqui -->
            <p id="valor">R$ 4050</p>
            <div class="botao-comprar3">
                <div class="botoes-compra1">
                    <button id="comprar_iphone">Comprar</button>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% include "footer.html" %}
    <!-- Modal Carrinho -->
    <div id="modalCarrinho" class="modal">
        <div class="modal-content">
            <span class="fecharModalCarrinho">&times;</span>
            <h2>Carrinho de Compras</h2>
            <div class="modal-body" id="listaProdutosCarrinho">
                <!-- Aqui serão listados os itens do carrinho -->
            </div>
        </div>
    </div>
    
      
    

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script 
    src="{{url_for('static', filename='./js/main.js')}}">   

    </script>
</body>
</html>