<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividade Carlos</title>
    <link rel="stylesheet" href="{{url_for('static', filename='./css/style.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>


    <button class="botao-voltar"id="botaoRetornar">Voltar</button>
    <script>
        document.getElementById("botaoRetornar").addEventListener("click", function() {
            window.location.href = "../homepage.html"; 
        });
    </script>
<div class="compras-zoom">
    <div class="compra-zoom">
        <div class="iphone-zoom">
            <div class="product-image-zoom">
                <img src="{{url_for('static', filename='./img/alexa.jpg')}}" alt="">
            </div>
            <div class="purple-border"></div>
        </div>
        <div class="descricao-compra">
            <h3 id="nome">Alexa</h3>
            <p id="descricao">Smart speaker com Alexa | Display de LED ainda melhor | Cor Azul Claro</p>
            <p>O Echo Dot com o melhor som já lançado: curta uma experiência sonora ainda melhor em comparação às versões anteriores do </p>
            <p>Echo Dot com Alexa e ouça vocais mais nítidos, graves mais potentes e um som vibrante em qualquer ambiente.</p>
            <p>Veja a hora e muito mais: display de LED aprimorado que além de exibir hora e alarmes, mostra a previsão do tempo, </p>
            <p>títulos de músicas e muito mais. Suas músicas e conteúdos favoritos: reproduza músicas e podcasts do Amazon Music, </p>
            <p>Apple Music, Spotify, entre outros, ou por Bluetooth em todos os ambientes da sua casa.</p>


            <br> <!-- Adicionando a quebra de linha aqui -->
            <p id="valor">R$ 590</p>
            <div class="botao-comprar3">
                <div class="botoes-compra1">
                    <button id="comprar_iphone">Comprar</button>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% include "footer.html" %}
    <!-- Modal Carrinho -->
    <div id="modalCarrinho" class="modal">
        <div class="modal-content">
            <span class="fecharModalCarrinho">&times;</span>
            <h2>Carrinho de Compras</h2>
            <div class="modal-body" id="listaProdutosCarrinho">
                <!-- Aqui serão listados os itens do carrinho -->
            </div>
        </div>
    </div>
    
      
    

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script 
src="{{url_for('static', filename='./js/main.js')}}">  

</script>
</body>
</html>
