{% include "indexOrigin.html" %}

<body>
    {% include "navbar.html" %}

    <div class="imagens">
        <img src="{{url_for('static', filename='./img/icons.jpeg')}}" alt="">
        <img src="{{url_for('static', filename='./img/icons-2.jpeg')}}" alt="">
        <img src="{{url_for('static', filename='./img/celular.jpeg')}}" alt="">
    </div>
    <div class="compras">
            <div class="compra">
                <div class="applevision">
                <img src="{{url_for('static', filename='./img/apple-vision.jpeg')}}" alt="">
                </div>
                <h3 id="nome">Apple Vision</h3>
                <p id="descricao">Óculos Virtual 256gb</p>
                <p id="valor">R$ 23400</p>
                <div class="botao-comprar">
                    <button id="comprar_apple_vision">Adicionar</button>
                    <a href="./index1/applevision.html" class="arrow-button"><span class="material-symbols-outlined">
                        zoom_out_map
                    </span></a>
                </div>
            </div>
            <div class="compra">
                <div class="iphoneclass">
                <img src="{{url_for('static', filename='./img/iphone.jpeg')}}" alt="">
                </div>
                <h3 id="nome">IPhone 15</h3>
                <p id="descricao">(256 GB) — Preto</p>
                <p id="valor">R$ 6999</p>
                <div class="botao-comprar">
                    <button id="comprar_iphone">Adicionar</button>
                    <a href="./index1/iphone.html" class="arrow-button"><span class="material-symbols-outlined">
                        zoom_out_map
                    </span></a>
                </div>
            </div>
            <div class="compra">
                <div class="foneclass">
                <img src="{{url_for('static', filename='./img/fone.jpg')}}" alt="">
                </div>
                <h3 id="nome">Headset Gamer Razer Kraken</h3>
                <p id="descricao">Multi Platform Green P2 - Verde - RZ.AU.KR.03.RT</p>
                <p id="valor">R$ 699</p>
                <div class="botao-comprar">
                    <button id="comprar_headset">Adicionar</button>
                    <a href="./index1/fone.html" class="arrow-button"><span class="material-symbols-outlined">
                        zoom_out_map
                    </span></a>
                </div>
            </div>
            <div class="compra">
                <div class="celularclass">
                <img src="{{url_for('static', filename='./img/celular.jpg')}}" alt="">
                </div>
                <h3 id="nome">Smartphone Xiaomi Poco F5 Pro</h3>
                <p id="descricao">Dual Sim De 512gb / 12gb Ram De 6.67 Tela- Preto (global)</p>
                <p id="valor">R$ 5999</p>
                <div class="botao-comprar">
                    <button id = "comprar_celular">Adicionar</button>
                    <a href="./index1/xioami.html" class="arrow-button"><span class="material-symbols-outlined">
                        zoom_out_map
                    </span></a>
                </div>
            </div>
            <div class="compra">
                <div class="alexaclass">
                <img src="{{url_for('static', filename='./img/alexa.jpg')}}" alt="">
                </div>
                <h3 id="nome">Alexa</h3>
                <p id="descricao">Smart speaker com Alexa | Display de LED ainda melhor | Cor Azul Claro</p>
                <p id="valor">R$ 599</p>
                <div class="botao-comprar">
                    <button id="comprar_alexa">Adicionar</button>
                    <a href="./index1/alexa.html" class="arrow-button"><span class="material-symbols-outlined">
                        zoom_out_map
                    </span></a>
                </div>
            </div>
            <div class="compra">
                <div class="mouse">
                <img src="{{url_for('static', filename='./img/mouse.jpg')}}"alt="">
                </div>
                <h3 id="nome">Mouse Gamer Sem Fio Logitech G703</h3>
                <p id="descricao">Sensor HERO 25K e Bateria Recarregável - Compatível com POWERPLAY</p>
                <p id="valor">R$ 300</p>
                <div class="botao-comprar">
                    <button id="comprar_mouse">Adicionar</button>
                    <a href="./index1/mouse.html" class="arrow-button"><span class="material-symbols-outlined">
                        zoom_out_map
                    </span></a>
                </div>
            </div>
            <div class="compra">
                <div class="rtx4090class">
                <img src="{{url_for('static', filename='./img/rtx4090.jpg')}}" alt="">
                </div>
                <h3 id="nome">PLACA DE VIDEO ASUS GEFORCE RTX 4090 TUF GAMING</h3>
                <p id="descricao">24GB / GDDR6X / 384-BIT / TUF-RTX4090-24G-GAMING</p>
                <p id="valor">R$ 12200</p>
                <div class="botao-comprar">
                    <button id="comprar_apple_vision">Adicionar</button>
                    <a href="./index1/rtx4090.html" class="arrow-button"><span class="material-symbols-outlined">
                        zoom_out_map
                    </span></a>
                </div>
            </div>
            <div class="compra">
                <div class="teclado">
                <img src="{{url_for('static', filename='./img/71pDazPSBVL._AC_SX679_.jpg')}}" alt="">
                </div>
                <h3 id="nome">HyperX Alloy Origins 65</h3>
                <p id="descricao">Mechanical Gaming Keyboard - HX (US Layout)/ Preto / 4P5D6AA#ABA</p>
                <p id="valor">R$ 539</p>
                <div class="botao-comprar">
                    <button id="comprar_iphone">Adicionar</button>
                    <a href="./index1/teclado.html" class="arrow-button"><span class="material-symbols-outlined">
                        zoom_out_map
                    </span></a>
                </div>
            </div>
            <div class="compra">
                <div class="foneclass">
                <img src="{{url_for('static', filename='./img/tecladorazer.jpg')}}" alt="">
                </div>
                <h3 id="nome">Teclado Mecânico Gamer Razer</h3>
                <p id="descricao">Blackwidow V3 Pro Yellow Switch / Preto</p>
                <p id="valor">R$ 1999</p>
                <div class="botao-comprar">
                    <button id="comprar_headset">Adicionar</button>
                    <a href="./index1/tecladorazer.html" class="arrow-button"><span class="material-symbols-outlined">
                        zoom_out_map
                    </span></a>
                </div>
            </div>
            <div class="compra">
                <div class="celularclass">
                <img src="{{url_for('static', filename='./img/gabinete.jpg')}}" alt="">
                </div>
                <h3 id="nome">Gabinete Gamer Rise Mode Galaxy Glass</h3>
                <p id="descricao">Mid Tower/ Lateral e Frontal em Vidro Temperado/ Preto - RM-GA-GG-FB</p>
                <p id="valor">R$ 499</p>
                <div class="botao-comprar">
                    <button id = "comprar_celular">Adicionar</button>
                    <a href="./index1/gabinete.html" class="arrow-button"><span class="material-symbols-outlined">
                        zoom_out_map
                    </span></a>
                </div>
            </div>
            <div class="compra">
                <div class="alexaclass">
                <img src="{{url_for('static', filename='./img/placamae.jpg')}}" alt="">
                </div>
                <h3 id="nome">Placa Mãe Asus TUF Gaming X570-Plus</h3>
                <p id="descricao">Wi-Fi / AMD AM4 / ATX / DDR4</p>
                <p id="valor">R$ 1799</p>
                <div class="botao-comprar">
                    <button id="comprar_alexa">Adicionar</button>
                    <a href="./index1/placamae.html" class="arrow-button"><span class="material-symbols-outlined">
                        zoom_out_map
                    </span></a>
                </div>
            </div>
            <div class="compra">
                <div class="mouse">
                <img src="{{url_for('static', filename='./img/SSD.jpg')}}" alt="">
                </div>
                <h3 id="nome">SSD 1 TB Kingston Fury Renegade</h3>
                <p id="descricao">M.2 2280 PCIe/ NVMe/ Leitura: 7300MB/s e Gravação: 6000MB/s, Preto - SFYRS/1000G</p>
                <p id="valor">R$ 519</p>
                <div class="botao-comprar">
                    <button id="comprar_mouse">Adicionar</button>
                    <a href="./index1/SSD.html" class="arrow-button"><span class="material-symbols-outlined">
                        zoom_out_map
                    </span></a>
                </div>
            </div>
    
        </div>
        <div class="next-page">
            <a href="#" class="arrow-button"><span class="material-symbols-outlined">
                arrow_back_ios
                </span></a>
            <p>1/2</p>
            <a href="./secondPage.html" class="arrow-button"><span class="material-symbols-outlined">
                arrow_forward_ios
                </span></a>
        </div>
    <!-- Modal Carrinho -->
    <div id="modalCarrinho" class="modal">
        <div class="modal-content">
            <span class="fecharModalCarrinho">&times;</span>
            <h2>Carrinho de Compras</h2>
            <div class="modal-body" id="listaProdutosCarrinho">
                <!-- Aqui serão listados os itens do carrinho -->
            </div>
        </div>
    </div>


        
    {% include "footer.html" %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script 
    src="{{url_for('static', filename='./js/main.js')}}">  

    </script>
</body>
</html>
