<nav class="menu menu-nav">
    <ul class="lista">
        <li class="link-list"><a href="./homepage.html"><span class="material-symbols-outlined">
            computer
            </span>Homepage</a></li>
        <li class="link-list"><a href="./FAQ.html"><span class="material-symbols-outlined">
            quiz
            </span>Faq</a></li>
        <li class="link-list"><a href="./contact.html"><span class="material-symbols-outlined">
            phone_in_talk
            </span>Contatos</a></li>
        <li class="link-list carrinho"><a href="#" id="abrirModalCarrinho"><span class="material-symbols-outlined">
            shopping_cart
            </span><span id="carrinho-counter">0</span></a></li>
    </ul>
</nav>